body, ul {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Skarpa Regular";
  src: url("./Assets/Fonts/avenirNextMedium.woff2") format("woff2"),
    url("./Assets/Fonts/avenirNextMedium.woff") format("font-woff");
}
@font-face {
  font-family: "Avenir Next";
  src: url("./Assets/Fonts/avenirNext.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir Next Medium";
  src: url("./Assets/Fonts/avenirNextMedium.woff") format("woff");
}
@font-face {
  font-family: "Multi Regular";
  src: url("./Assets/Fonts/MuliRegular.woff2") format("woff2");
}
@font-face {
  font-family: "Skarpa Regular";
  src: url("./Assets/Fonts/SkarpaRegular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("./Assets/Fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("./Assets/Fonts/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./Assets/Fonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-Light";
  src: url("./Assets/Fonts/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-Thin";
  src: url("./Assets/Fonts/Inter-Thin.woff2") format("woff2");
}

body{
  color: #5A5F70;
}


